*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./cannion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    display: block;
    height: 650px;
    width: 40%;
    margin: 30px auto;
    padding-top: 30px;
    background-color: rgba(167, 150, 108, 0.4);
    padding-bottom: 30px;
}
h1{
    color: rgba(62, 59, 52, 1);
    padding: 1em auto;
    text-align: center;
}
form {
    width: 70%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
fieldset {
    border: none;
    padding: 2rem 0;
}
fieldset:last-of-type {
    border-bottom: none;
}
label {
    display: block;
    margin-top: 10px;
}
input,
textarea,
select {
    margin: 10px 0 10px 0;
    width: 100%;
    min-height: 2em;
    border: none;
}
input#name, input#number, input#email{
    padding-left: 10px;
}
textarea#bio{
    padding: 5px 10px;
}
input, textarea {
    background-color: rgba(167, 150, 108, 0.9);
    border-bottom: 1px solid rgba(167, 150, 108, 0.9);
    color: rgba(62, 59, 52, 1);
}
input[type="submit"] {
    display: block;
    border-radius: 15px;
    width: 150px;
    margin: 10px 10px;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgba(167, 150, 108, 0.9);
    min-width: 150px;
}