*,
*::after,
*::before {
  box-sizing: border-box;
  margin: auto;
}
body {
  min-width: 350px;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  box-shadow: 1px 1px 4px rgb(79, 79, 79);
  padding-bottom: 20px;
}
ul {
  padding: 0;
  margin-top: 0;
}
li {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
}
li a {
  text-decoration: none;
  color: blueviolet;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 20px auto;
  border: none;
  width: 90%;
  box-shadow: 1px 1px 4px black;
  border-radius: 10px;
  color: rgb(125, 129, 131);
}
h2 {
  margin: 0;
  padding: 10px;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid rgb(125, 129, 131);
  width: 10px;
  text-align: left;
}
table {
  border-collapse: collapse;
  line-height: 25px;
  margin: 10px auto;
  width: 98%;
}

@media all and (min-width: 500px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  ul {
    margin: 0 auto;
  }
  li {
    display: flex;
    flex-direction: row;
  }
}
