*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f2f2f2;
  max-width: 1300px;
  margin: auto;
}
.wrapper-nav {
  width: 100%;
  padding: 15px 25px;
  margin: 0 auto;
}
.wrapper-main {
  display: flex;
  padding: 15px 25px;
  margin: 0 auto;
}
header {
  background-color: white;
  box-shadow: 0px 5px 33px 3px rgba(0, 0, 0, 0.22);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links {
  font-size: 15px;
  display: flex;
  gap: 35px;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 20px;
}
.header-list li {
  list-style-type: none;
}
.header-btn {
  border: none;
  background-color: blue;
  color: white;
  min-height: 40px;
  min-width: 150px;
  border-radius: 30px;
}
h1 {
  width: 50%;
  padding-left: 45px;
}
.article {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.card-category {
  color: blue;
}
.card1 {
  width: 400px;
  display: block;
  padding: 20px 0 20px 20px;
}
.card2 {
  display: flex;
  width: 400px;
  padding: 20px 0 20px 20px;
}
.news-img {
  display: block;
  height: 200px;
  width: 380px;
  object-fit: cover;
}
.news-img2 {
  width: 120px;
  height: 80px;
  object-fit: cover;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}
.news {
  width: 70%;
}
h4 {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 10px;
}
.h2-main-about {
  font-size: 17px;
}
.h2-main-video-about {
  font-size: 32px;
}
.card-date {
  font-size: 13px;
}
.inner-card {
  object-fit: cover;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 5px 33px 3px rgba(0, 0, 0, 0.22);
}
.inner-card2 {
  padding-left: 15px;
}
.news-wrapper {
  width: 100%;
}
.radio {
  width: 30%;
}

.h2-right-side {
  font-size: 36px;
  padding-left: 15px;
}
.radio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-right: 5px solid black;
}
.Radio-timer {
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: black;
}
.timer-color {
  display: flex;
  justify-content: center;
  width: 250px;
}
.play-btn {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: white;
  cursor: pointer;
}

.play-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-left: 15px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.radio-wrapper {
  padding: 15px;
}
.radio-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0px 5px 33px 3px rgba(0, 0, 0, 0.22);
}
.card-date-radio {
  font-weight: normal;
  margin-top: 10px;
  font-size: 13px;
}
.radio-info {
  background-color: white;
}
.big-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: none;
  width: 790px;
  height: 85px;
  border-radius: 10px;
  font-size: 28px;
  padding-left: 30px;
  box-shadow: 0px 5px 33px 3px rgba(0, 0, 0, 0.22);
}
.button-arrow {
  padding-right: 30px;
  font-size: 50px;
}
.video-card {
  width: 100%;
  margin-left: 20px;
}
.video-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  padding: 15px 0 15px 15px;
}
.video-main-container {
  display: flex;
}
.video-card-small {
  width: 45%;
  /* margin-left: 20px; */
}
.h2-main-video {
  font-size: 36px;
}
.big-btn-video {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: none;
  max-width: 770px;
  height: 85px;
  border-radius: 10px;
  font-size: 28px;
  padding: 10px 30px;
  box-shadow: 0px 5px 33px 3px rgba(0, 0, 0, 0.22);
}
.event {
  width: 30%;
}
.events-wrapper {
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
}
.event-img {
  width: 100%;
  display: block;
}
.h2-event-main {
  font-size: 36px;
  padding: 15px 0;
}
.event-date {
  top: -15px;
  left: 50px;
  position: absolute;
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.event-day {
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 25px;
}
.event-month {
  width: 100%;
  background-color: #ff00e9;
  font-size: 13px;
  padding: 5px 10px;
}
.event-info {
  padding-top: 60px;
  margin-bottom: 30px;
}
.event-address {
  margin: 0;
  padding-left: 30px;
  font-size: 13px;
  font-weight: 400;
}
.event-title {
  margin: 0;
  padding: 15px 30px;
  font-size: 20px;
}
