

*,
*::after,
*::before {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.container{
    max-width: 1440px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: hsl(190, 71%, 16%);
}

// header

.header-top-wrapper{
    .header-top-logo{
        .header-top-img{

        }
    }
    .header-top-btn{

    }
}
.header-main-wrapper{
    .header-main-about{

    }
    .header-main-about-text{

    }
    .main-btn{

    }
    .header-main-img{

    }
}

.main-wrapper{
    .first-card{
        .card{

            img.card-icon{

            }
            span.card-numbers{

            }
            h4.card-info{

            }
        }
        .card{
            img.card-icon{

            }
            span.card-numbers{

            }
            h4.card-info{

            }
        }
    }
    .second-card{

    }
    .second-card{

    }
    .second-card{

    }
    .main-bottom-section{

    }
}


















/* header top */
header {
  font-family: "Poppins", sans-serif;
}

.header-top-wrapper {
  display: flex;
  align-items: center;
  margin: 30px 30px;
}

.header-top-img {
  width: 50%;
}

.header-top-btn {
  border: 2px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
  width: 90px;
  font-size: 12px;
  padding: 5px;
  border-radius: 15px;
  font-weight: 600;
  background-color: white;
  margin-right: 20px;
}

/* header main */
.header-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 30px;
}

.header-main-about {
  text-align: center;
  font-size: 25px;
}

.header-main-about-text {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.main-btn {
  margin: 40px auto;
  min-width: 30%;
  padding: 10px 25px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 1px 2px 5px rgb(209, 133, 145);
  border: none;
  color: white;
}

.header-main-img {
  width: 100%;
  margin-top: 30px;
}

/* main wrapper */
.main-wrapper {
  margin: 50px 30px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 10px;
  margin: 30px auto;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.card-icon {
  margin: 0;
  width: 40px;
}

.card-numbers {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
}

.card-info {
  margin: 0;
  font-weight: 400;
}

.main-wrapper:last-child .card-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.second-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}

.second-card-inner-wrapp {
  text-align: center;
}

.second-card img {
  padding-bottom: 30px;
  margin: 100px 0;
}

.second-card-about {
  font-weight: 900;
}

.second-card-text {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
}

.main-bottom-section {
  justify-content: flex;
  flex-direction: column;
  text-align: center;
}

.main-bottom-section-header {
  font-size: 25px;
  margin-bottom: 0;
}

/* footer */
footer {
  padding-bottom: 30px;
  margin-top: 50px;
  color: white;
  background-color: hsl(192, 100%, 9%);
}

.footer-main-wrapper {
  margin: 30px 30px;
}

.footer-wrapper {
  margin-bottom: 50px;
}

.footer-about {
  text-transform: uppercase;
  font-size: 22px;
}

.footer-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-email {
  display: flex-end;
  flex-direction: column;
  padding: 30px 0;
}

label {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

#email {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.label-btn {
  padding: 12px 17px;
  border-radius: 5px;
  width: 50%;
  background-color: hsl(322, 100%, 66%);
  border: none;
  color: white;
  font-weight: 600;
}

footer {
  padding-top: 20px;
}

.footer-img {
  fill: white;
  width: 60%;
}

.footer-wrapper-text {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}

.footer-wrapper-phone,
.footer-wrapper-email {
  display: flex;
  margin-bottom: 15px;
}

.number-email {
  margin: 0;
}

.phone,
.email {
  margin: 0;
  padding-right: 30px;
}

.footer-logos {
  display: inline-flex;
  gap: 15px;
  padding-top: 20px;
}

i {
  font-size: 25px;
}

@media all and (min-width: 599px) {
  label {
    display: flex-end;
  }
  input#email {
    width: 60%;
  }
  .label-btn {
    width: 30%;
  }
}
@media all and (min-width: 899px) {
  .first-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-numbers {
    font-size: 80px;
  }
  .card-info {
    font-size: 26px;
  }
  .second-card {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
  }
  .second-card img {
    width: 50%;
  }
  .second-card-inner-wrapp {
    text-align: center;
    align-content: center;
  }
  .second-card-about {
    font-size: 32px;
    margin: 20px;
  }
  .second-card-text {
    font-size: 17px;
    margin: 20px;
  }
  .second-card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .header-main-img {
    width: 70%;
  }
  .main-btn {
    min-width: 20%;
  }
  .footer-img {
    width: 30%;
  }
}
@media all and (min-width: 1000px) {
  .footer-main-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-wrapper {
    margin: 50px 50px 50px 100px;
  }
  .about-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .footer-wrapper-bottom {
    margin: 50px;
  }
  input#email {
    width: 100%;
  }
}